@(userForm: Form[UserEntity])

@import helper._

@main()(null)(null) {
    <div class="page-header">
		<h3>@Messages("Reset Password")</h3>
	</div>
    @helper.form(action = routes.UsersController.resetPassword) {
        
        <div class="row">
	        <div class="col-md-4">
		        <fieldset>
		          
		            @if(userForm.hasGlobalErrors) {
						@userForm.globalError.message
		            }
		            
		            @inputText(
		                userForm("email"), 
		                '_label -> Messages("email"), 
		                '_showConstraints -> false,
		                'class -> "form-control"
		            )
		            
		        </fieldset>
	        </div>
        </div>
        
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="@Messages("password.reset")">
            <a href="@routes.SignInController.showForm" class="btn btn-danger">@Messages("cancel")</a>
        </div>
        
    }
    
}