@hero = {}
@main()(hero) {

<div class="page-header">
	<h3>About Us</h3>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" href="#about">About the New Jersey 1K Club</a>
				</h3>
			</div>
			<div id="about" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>The New Jersey 1K
					Club is a fledgling organization that seeks to bring attention to the
					many hiking opportunities and challenges that the Garden State offers.
					New Hampshire has the AMC 4000'ers; the Adirondacks has its 46'ers;
					the Catskills and its 3500 Club. And now . . . New Jersey's own
					peakbagging club: the 1K'ers. </p>
				<p>Sure, New Jersey's great if you like diners, traffic, and an
					ever-entertaining political system, but don't you ever have mountain
					envy? Ever wish you could climb a mountain around here and enjoy the
					progression of biomes? Ever wish you could break out the crampons and
					ice axe on Garden State mountains without worrying about wounding
					them? Ever wish you could have one of those cool peakbagger decals for
					New Jersey mountains like they have in our more vertically blessed
					states? </p>
				<p>Well, there's nothing we can do to make New Jersey's mountains
					any higher, and we don't have the decals yet, but at the least we can
					have a New Jersey peakbagging club. Yeah, our mountains are less than
					lofty, but we've got a lot of them and a surprising number don't even
					have trails to the tops.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" href="#peakbagging">Peakbagging?</a>
				</h3>
			</div>
			<div id="peakbagging" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>Some people collect porcelain dolls,
					some people collect cars, some people collect countries they've
					visited. Peakbagging is mountain collecting. It gets you off the
					highest, most notable summits in a range and forces you to go off the
					beaten-path; in New Jersey, chances are these are mountains
					practically nobody has ever heard of before.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" href="#howto">How can I become a NJ 1K'er?</a>
				</h3>
			</div>
			<div id="howto" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>In order to become an
						official NJ 1K'er, you must climb all the peaks on our list, as well
						as register with us on our website. After each summit you have
						attained, log in and fill out the information regarding your ascent,
						which includes the summit name, date and optional trip reports and
						pictures. At the moment, we don't offer patches or decals to those who
						have completed the list but that will soon change.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" href="#qualifications">What are the qualifications for a 1K mountain?</a>
				</h3>
			</div>
			<div id="qualifications" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>In
					order for a mountain to make the list, its summit must be at least
					1,000 feet above sea level with a prominence of at least 200 feet.
					Please note that the current list is subject to change, as it may
					contain inaccuracies. If you have any suggestions for potential
					additions to the list, or you have spotted an error, please feel free
					to <a href="@routes.Application.contact()">contact me</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>
}
