@(ascent: AscentEntity)

@import views.RenderUtil._
@import utils.SecurityUtil._

@head = {
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css">
}

@main(title = Messages("ascent.title", ascent.mountain.name, ascent.climber.name, ascent.mountain.elevation))(head)(null) {

	<script type="text/javascript">

	require(['jquery'], function() {
	    $(document).ready(function() {
	    
			$('#delete_ascent').click(function() {
	    		if (confirm('@Messages("ascent.delete.prompt")')) {
		    		jsRoutes.controllers.AscentController.remove(@ascent.id).ajax({
		    			success: function(result) {
		    				window.location.href = "@routes.UsersController.showUser(ascent.climber.id)";
		    		    }
		    		});
	    		}
	    		return false;
	    	});
	    	
	    	$('.delete-ascent-detail').click(function(e) {
	    		var id = $(this).data('image-id');
	    		var that = this;
	    		jsRoutes.controllers.AscentDetailController.remove(id).ajax({
	    			success: function(result) {
	    		    	$(that).closest('.thumbnail').parent().fadeOut(function() {
	    		    		$(this).remove();
	    		    	});
	    		    }
	    		});
	    		
	    		e.preventDefault();
	    	});
	    	
	    	$('.edit-ascent-detail').click(function(e) {
	    		$(this).closest('.caption').find('textarea').removeClass('hidden');
	    		$(this).siblings('.save-ascent-detail').removeClass('hidden');
	    		$(this).addClass('hidden');
	    		$(this).closest('.caption').find('.cap').addClass('hidden');
	    		
	    		e.preventDefault();
	    		
	    	});
	    	
	    	$('.save-ascent-detail').click(function(e) {
	    		var id = $(this).data('image-id');
	    		var update = jsRoutes.controllers.AscentDetailController.updateCaption(id);
	    		var caption = $(this).closest('.caption').find('textarea');
	    		var that = this;
	    		$.ajax({
	    			url: update.url,
	    			data: caption.val(),
	    			contentType: 'text/plain',
	    			type: 'POST',
	    			processData: false,
	    			success: function() {
	    		    	$(that).siblings('.edit-ascent-detail').removeClass('hidden');
	    		    	$(that).closest('.caption').find('textarea').addClass('hidden');
	    		    	$(that).addClass('hidden');
	    		    	$(that).closest('.caption').find('.cap').text(caption.val());
	    		    	$(that).closest('.caption').find('.cap').removeClass('hidden');
	    		    }
	    		});
	    		
	    		e.preventDefault();
	    	});
	    });
	});
	</script>
	  
	<div class="page-header">
		<h3>@Messages("ascent.title", ascent.mountain.name, ascent.climber.name, ascent.mountain.elevation)</h3>
	</div>
	
	<div class="row">
		@if(ascent.trip_report != "") {
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">@Messages("ascent.trip_report")</h3>
					</div>
					<div class="panel-body">
					@Html(formatText(ascent.trip_report))
					</div>
				</div>
			</div>
		}
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">@Messages("mountain.stats")</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td>@Messages("ascent.summit")</td>
							<td><a href="@routes.MountainsController.showMountain(ascent.mountain.id)">@ascent.mountain.name</a></td>
						</tr>
						<tr>
							<td>@Messages("ascent.climber")</td>
							<td><a href="@routes.UsersController.showUser(ascent.climber.id)">@ascent.climber.name</a></td>
						</tr>
						<tr>
							<td>@Messages("ascent.date")</td>
							<td>@formatAscentDate(ascent.ascent_date)</td>
						</tr>
						<tr>
							<td>@Messages("ascent.successful")</td>
							<td>@renderBoolean(ascent.successful)</td>
						</tr>
					</table>
					
					@if(ownsAscent(ascent.id)) {
						<p><strong><a class="btn btn-primary btn-sm" href="@routes.AscentController.editForm(ascent.id)">@Messages("ascent.edit")</a></strong></p>
						<a id="delete_ascent" class="btn btn-sm btn-danger" href="#">@Messages("ascent.delete")</a>
					}
				</div>
			</div>
		</div>

	</div>
	@if(!ascent.ascentDetails.isEmpty()) {
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">@Messages("ascent.report.pictures")</h3>
					</div>
					<div class="panel-body">
						@for(i <- 0 until ascent.ascentDetails.size) {
					
							@if(i % 4 == 0) {
								<div class="clearfix"></div>
							} 
							@if(i % 2 == 0) {
								<div class="clearfix visible-sm"></div>
							}
							<div class="col-sm-6 col-md-3">
								<div class="thumbnail">
									<a class="fancybox" data-fancybox-group="ascentImages" data-fancybox-type="image" title="@ascent.ascentDetails(i).caption" href="@routes.AscentDetailController.getImage(ascent.ascentDetails(i).id)">
										<img class="img-responsive" alt="@ascent.ascentDetails(i).caption" src="@routes.AscentDetailController.getThumbnail(ascent.ascentDetails(i).id)">
									</a>
									<div class="caption">
										<p><small><textarea class="form-control hidden">@ascent.ascentDetails(i).caption</textarea></small></p>
										<p class="cap">@ascent.ascentDetails(i).caption</p>
										@if(ownsAscent(ascent.id)) {
											<p>
												<a class="save-ascent-detail btn btn-xs btn-primary hidden" data-image-id="@ascent.ascentDetails(i).id" href="#">@Messages("save")</a>
												<a class="edit-ascent-detail btn btn-xs btn-primary" data-image-id="@ascent.ascentDetails(i).id" href="#">@Messages("edit")</a>
												<a class="delete-ascent-detail btn btn-xs btn-danger" data-image-id="@ascent.ascentDetails(i).id" href="#">@Messages("delete")</a>
											</p>
									   	}
								   	</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	}
	
	<script type="text/javascript">
		require(['fancybox'], function() {
			$(".fancybox").fancybox();
		});
	</script>
}