@(ascent: AscentEntity)

@import views.RenderUtil

@main() {
	<script type="text/javascript">
		$(document).ready(function() {
			Galleria.loadTheme('@routes.Assets.at("javascripts/galleria/themes/classic/galleria.classic.min.js")');
		    Galleria.run('#galleria');
		})
	</script>
	
	<h1>@Messages("ascent.title", ascent.mountain.name, ascent.climber.name, ascent.mountain.elevation)</h1>
	<h2><a href="@routes.AscentController.editForm(ascent.id)">@Messages("ascent.edit")</a></h2>
	
	<div class="table">
		<div class="tableRow">
			<div class="tableCell">@Messages("ascent.summit")</div>
			<div class="tableCell"><a href="@routes.MountainsController.showMountain(ascent.mountain.id)">@ascent.mountain.name</a></div>
		</div>
		<div class="tableRow">
			<div class="tableCell">@Messages("ascent.climber")</div>
			<div class="tableCell"><a href="@routes.UsersController.showUser(ascent.climber.id)">@ascent.climber.name</a></div>
		</div>
		<div class="tableRow">
			<div class="tableCell">@Messages("ascent.date")</div>
			<div class="tableCell">@views.RenderUtil.formatAscentDate(ascent.ascent_date)</div>
		</div>
		<div class="tableRow">
			<div class="tableCell">@Messages("ascent.successful")</div>
			<div class="tableCell">@views.RenderUtil.renderBoolean(ascent.successful)</div>
		</div>
	</div>

	<div>
		@RenderUtil.unescape(ascent.trip_report)
	</div>
	
	@if(!ascent.ascentDetails.isEmpty()) {
		<div id="galleria">
			@for(detail <- ascent.ascentDetails) {
				<img src="@routes.AscentDetailController.showImage(detail.id)">
			}
		</div>
	}
}