@(ascent: AscentEntity)

@import views.RenderUtil
@import utils.SecurityUtil._

@main() {

	<script type="text/javascript">

    $(document).ready(function() {
    	
    	$('#delete_ascent').click(function() {
    		if (confirm('@Messages("ascent.delete.prompt")')) {
	    		jsRoutes.controllers.AscentController.remove(@ascent.id).ajax({
	    			success: function(result) {
	    				window.location.href = "/users/" + @ascent.climber.id;
	    		    }
	    		});
    		}
    		return false;
    	});
    	
    	$('.delete_button').click(function() {
    		jsRoutes.controllers.AscentDetailController.remove(this.id).ajax({
    			success: function(result) {
    		    	$('.img_container').fadeOut();
    		    }
    		});
    		
    		return false;
    	});
    });
    
	</script>
	  
	<div class="page-header">
		<h3>@Messages("ascent.title", ascent.mountain.name, ascent.climber.name, ascent.mountain.elevation)</h3>
	</div>
	
	<div class="row-fluid">
		<div class="span4">
			<h4>@Messages("mountain.stats")</h4>
			<table class="table">
				<tr>
					<td>@Messages("ascent.summit")</td>
					<td><a href="@routes.MountainsController.showMountain(ascent.mountain.id)">@ascent.mountain.name</a></td>
				</tr>
				<tr>
					<td>@Messages("ascent.climber")</td>
					<td><a href="@routes.UsersController.showUser(ascent.climber.id)">@ascent.climber.name</a></td>
				</tr>
				<tr>
					<td>@Messages("ascent.date")</td>
					<td>@views.RenderUtil.formatAscentDate(ascent.ascent_date)</td>
				</tr>
				<tr>
					<td>@Messages("ascent.successful")</td>
					<td>@views.RenderUtil.renderBoolean(ascent.successful)</td>
				</tr>
			</table>
			
			@if(ownsAscent(ascent.id)) {
				<p><strong><a class="btn btn-small" href="@routes.AscentController.editForm(ascent.id)">@Messages("ascent.edit")</a></strong></p>
				<p><strong><a id="delete_ascent" class="btn btn-small" href="#">@Messages("ascent.delete")</a></strong></p>
			}
		</div>
		<div class="span8">
			@Html(ascent.trip_report)
		</div>
	</div>
	@if(!ascent.ascentDetails.isEmpty()) {
	<div class="row-fluid">
		<div id="span12">
			@for(detail <- ascent.ascentDetails) {
	        	<div class="img_container" style="position: relative; display: inline-block; height: 200px;">
					<a href="@routes.AscentDetailController.showImage(detail.id)" target="_blank"><img class="img-rounded" alt="@detail.caption" height="200" width="200" src="@routes.AscentDetailController.getImage(detail.id)"></a>
					<p>@detail.caption</p>
					<div style="position: absolute; left: 205px; top: -8px;">
			   			<a id="@detail.id" class="icon-remove delete_button" href="#"></a>
			   		</div>
				</div>
			}
		</div>
	</div>
	}
}