@(mountainId: Long, ascents: List[AscentEntity], page: Integer, size: Integer)

@import views.RenderUtil._

<div class="panel-body">
	@for(a <- ascents) {
		<div class="media">
			<a class="pull-left" href="@routes.UsersController.user(a.climber.id)">
				@if(a.climber.pic != null) {
					<img alt="@a.climber.name" width="64" height="64" class="media-object" src="@routes.UsersController.userThumbnail(a.climber.id)">
				} else {
					<span style="font-size: 64px;" class="glyphicon glyphicon-user"></span>
				}
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					<strong><a href="@routes.UsersController.user(a.climber.id)">@a.climber.name</a></strong> - <em><a href="@routes.AscentController.ascent(a.id)">@formatRenderDate(a.ascent_date)</a></em>
				</h4>
				<p>
					<strong>@formatRenderDate(a.ascent_date) - </strong>
					@if(a.trip_report != null && !a.trip_report.trim().isEmpty()) {
						@Html(formatNews(a.trip_report))
					}
					(<a href="@routes.AscentController.ascent(a.id)"><em>details...</em></a>)
				</p>
			</div>
		</div>
	}
</div>
<div class="panel-footer">
	<a href="@routes.MountainsController.getAscents(mountainId, page, size)">more <span class="glyphicon glyphicon-chevron-down"></span></a>
</div>

<script type="text/javascript">
	require(['jscroll'], function() {
		$('#infiniteScroll a:last').click(function(e) {
			e.preventDefault();
			var that = this;
			$.get($(this).attr('href'), function(data) {
				$(that).parent().remove();
				$(data).hide().appendTo($('#infiniteScroll')).fadeIn();
			});
		});
	});
</script>