@(mountainId: Long, ascentImages: List[AscentDetailEntity], page: Integer, size: Integer)

@for(i <- 0 until ascentImages.size) {

	@if(i % 4 == 0) {
		<div class="clearfix"></div>
	} 
	@if(i % 2 == 0) {
		<div class="clearfix visible-sm"></div>
	}

	<div class="col-sm-6 col-md-3">
		<div class="thumbnail">
			<a class="fancybox" data-fancybox-group="gallery@mountainId" title="@ascentImages(i).caption" data-fancybox-type="image" href="@routes.AscentDetailController.getImage(ascentImages(i).id)"><img alt="@ascentImages(i).caption" src="@routes.AscentDetailController.getThumbnail(ascentImages(i).id)" /></a>
			<div class="caption">
				<p>@ascentImages(i).caption &mdash;<a href="@routes.UsersController.user(ascentImages(i).ascent.climber.id)"><em>@ascentImages(i).ascent.climber.name</em></a></p>
			</div>
		</div>
	</div>
}
				
<a class="hidden" href="@routes.MountainsController.getImages(mountainId, page + 1, size)">More</a>