@(contactForm: Form[Contact])

@import helper._

@main() {

	<div class="page-header">
		<h3>@Messages("contact")</h3>
	</div>

	
	@helper.form(action = routes.Application.submitContact) {
	<fieldset>
		@inputText(
           contactForm("email"),
           '_label -> Messages("email.address"),
           '_showConstraints -> false,
           'class -> "story_title"
        )
		@inputText(
           contactForm("subject"),
           '_label -> Messages("email.subject"),
           '_showConstraints -> false,
           'class -> "story_title"
        )

        @textarea(
        	contactForm("message"),
        	'_label -> Messages("email.message"),
        	'_showConstraints -> false,
        	'class -> "story"
        )
        
        @inputText(
           contactForm("answer"),
           '_label -> Messages("email.antispam"),
           '_showConstraints -> false,
           'class -> "story_title"
        )
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="@Messages("email.send")">
            <a href="@routes.Application.submitContact" class="btn">@Messages("cancel")</a>
        </div>
	}
}