@(editForm: Form[UserEntity])

@import helper._
@import utils.SecurityUtil._

@hero = {}
@main()(hero) {
	
	<script type="text/javascript">

    $(document).ready(function() {
    	
    	$('#delete_button').click(function() {
    		$.ajax({url: '@routes.AccountController.deleteProfilePic()',
    			type: 'DELETE', success: function(result) {
    		    	$('#img_container').fadeOut();
    		    }
    		});
    	});
    });
    
	</script>
	
	<div class="page-header">
		<h3>@Messages("account.edit")</h3>
	</div>
	
    @helper.form(action = routes.AccountController.submitEdit, 'enctype -> "multipart/form-data") {
        
        <div class=row-fluid>
        	<fieldset>
		    	
		    	@if(flash.get("success") != null) {
		    		<div class="alert alert-info">@flash.get("success")</div>
		    	}
		    	@if(editForm.hasGlobalErrors) {
            		<div class="alert alert-error">@editForm.globalError.message</div>
            	}
            
        		<div class="span4" style="margin-left: 0">
		            
		            @inputText(
		                editForm("email"), 
		                '_label -> Messages("email"),
		                'type -> "email",
		                '_showConstraints -> false
		            )
		            @inputText(
		                editForm("name"), 
		                '_label -> Messages("name"),
		                '_showConstraints -> false
		            )
		        
	        	</div>
	        	<div class=span4 style="margin-left: 0">
	        		@inputFile(
	   					editForm("pic"), 
	   					'class -> "multi",
	   					'_label -> Messages("profile.pic"),
	   					'_showConstraints -> false
	   				)
	   				
	   				@if(getCurrentUser().pic != null) {
		        		<div id="img_container">
		        			<div style="position: relative; height: 200px; width: 200px;">
				   				<img id="profile_img" class="img-rounded" height="200" width="200" style="margin: 10px 0;" src="@routes.UsersController.getProfileImage(Long.parseLong(editForm("id").value))" />
				   				<div style="position: absolute; left: 200px; top: 0; vertical-align: top;">
				   					<a class="icon-remove" href="#" id="delete_button"></a>
				   				</div>
				   			</div>
		   				</div>
		   			}
		    	</div>
	        </fieldset>
        </div>
        <div class="row-fluid">
	        <fieldset>
	            @textarea(
	            	editForm("aboutme"),
	            	'_label -> Messages("aboutme"),
	            	'_showConstraints -> false,
	            	'class -> "story"
	            )
	            
	            @inputPassword(
	                editForm("password"), 
	                '_label -> Messages("password"),
	                '_showConstraints -> false
	            )
	            
	            @inputPassword(
	                editForm("confirmPassword"), 
	                '_label -> Messages("confirmpassword"),
	                '_showConstraints -> false
	            )
	            
		        @input(editForm("id"), 
	            '_label -> null) { (id, name, value, args) =>
	    			<input type="hidden" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
				} 
			
	        </fieldset>
        </div>
        <div class="actions">
            <input type="submit" class="btn primary" value="Submit">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
    }
}