@(news: List[NewsEntity], recentAscents: List[AscentEntity])
@import java.text.SimpleDateFormat
@import views.RenderUtil._
@import utils.SecurityUtil._

@main() {
	<div class="jumbotron">
		<h1>@Messages("welcome.header")</h1>
		<h4>@formatText(Messages("welcometext"))</h4>
		@if(!isLoggedIn()) {
			<a class="btn btn-primary btn-large" href="@routes.RegistrationController.showForm()">@Messages("menu.register")</a>
		}
	</div>
} {
    <script type="text/javascript" src="/routes.js"></script>

    <script type="text/javascript">
    	 jsRoutes.controllers.ExternalNewsController.getNewsFromNYNJTC().ajax({
    		  success: function(data) {
    			  $.each($.parseJSON(data), function(i, item) {
    				  var r = jsRoutes.controllers.ExternalNewsController.getNewsArticleFromNYNJTC(item.link);
    				  var mediaBody = $('<div class="media-body">');
    				  $(mediaBody).append('<h4 class="media-heading"><a target="_blank" href="' + item.link + '">' + item.title + '</a></h4>');
    				
    				  $.ajax({
    					  url: r.url,
    					  type: r.type,
    					  cache: true,
    					  success: function(data) {
    	    				  $(mediaBody).append('<p><strong>' + item.date + ' - </strong>' + data + ' (<a target="_blank" href="' + item.link + '"><em class="text-info">read more...</em></a>)');
    					  }
    				  });
    				  
    				  $('#externalNews').append(mediaBody);
    			  });
    		  }
    	  });
    </script>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h4>@Messages("most.recent.climbs")</h4>
				
				@for(a <- recentAscents) {
					<div class="media">
						<a class="pull-left" href="@routes.UsersController.showUser(a.climber.id)">
							@if(a.climber.pic != null) {
								<img alt="@a.climber.name" width="64" height="64" class="media-object" src="@routes.UsersController.getProfileImage(a.climber.id)">
							} else {
								<img alt="@a.climber.name" src="holder.js/64x64/sky" width="64" height="64" class="media-object">
							}
						</a>
						<div class="media-body">
							<h4 class="media-heading"><a href="@routes.UsersController.showUser(a.climber.id)">@a.climber.name</a> - <a href="@routes.MountainsController.showMountain(a.mountain.id)">@a.mountain.name</a></h4>
							<p>
								<strong>@formatAscentDate(a.ascent_date) - </strong>
							@if(a.trip_report != null && !a.trip_report.trim().isEmpty()) {
								@Html(formatText(a.trip_report.split("[\\.\\?\\!][\\r\\n\\t ]+").toList.get(0))).
							}
							(<a href="@routes.AscentController.showTripReport(a.id)"><em class="text-info">details...</em></a>)
							</p>
						</div>
					</div>
				}
			</div>

			<div class="col-md-6">
				<h4>@Messages("headlines")</h4>
				@for(n <- news) {
					<div class="media">
						<a class="pull-left" href="@routes.NewsController.showNews(n.id)">
						@if(!n.pictures.isEmpty()) {
							<img alt="image" width="64" height="64" class="media-object" src="@routes.NewsImageController.getImage(n.pictures.get(0).id)">
						} else {
							<img alt="image" src="holder.js/64x64/sky/text:headline" width="64" height="64" class="media-object">
						}
						</a>
						<div class="media-body">
							<h4 class="media-heading"><a href="@routes.NewsController.showNews(n.id)">@n.title</a></h4>
							<p>
								<strong>@formatAscentDate(n.news_date) - </strong>
								@Html(formatText(n.entry.split("[\\.\\?\\!][\\r\\n\\t ]+").toList.get(0))).
								(<a href="@routes.NewsController.showNews(n.id)"><em class="text-info">read more...</em></a>)
							</p>
						</div>
					</div>
				}
			</div>
		</div>
		<div class=row>

			<h4>@Messages("news.nynjtc")</h4>
			<div id="externalNews" class="media">
			</div>
		</div>
	</div>
	
}