@(news: List[NewsEntity], recentAscents: List[AscentEntity], signupForm: Form[RegisteringUser])
@import java.text.SimpleDateFormat
@import views.RenderUtil._
@import utils.SecurityUtil._
@import helper._

@main(title = Messages("welcome.header")) {
<meta name="description" content="NJ1K.org - A website dedicated to climbing New Jersey's thousand foot mountains">
} {
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">@Messages("registration")</h4>
				</div>
				<div class="modal-body">
				@helper.form(action = routes.RegistrationController.submit) {
			        <fieldset>
			            
			            @inputText(
			                signupForm("email"), 
			                '_label -> Messages("email"),
			                'type -> "email",
			                '_showConstraints -> false,
			                'class -> "form-control"
			            )
	            
			            @inputText(
			                signupForm("name"), 
			                '_label -> Messages("name"),
			                '_showConstraints -> false,
			                'class -> "form-control"
			            )
	
			            @inputPassword(
			                signupForm("password"), 
			                '_label -> Messages("password"),
			                '_showConstraints -> false,
			                'class -> "form-control"
			            )
	
			            @inputPassword(
			                signupForm("confirmPassword"), 
			                '_label -> Messages("confirmpassword"),
			                '_showConstraints -> false,
			                'class -> "form-control"
			            )
	
			            @inputText(
			           		signupForm("challenge"),
			           		'_label -> Messages("email.antispam"),
			           		'_showConstraints -> false,
			           		'class -> "story_title form-control"
			        	)
			        </fieldset>
			        
			        <div class="actions">
			            <input type="submit" class="btn btn-primary" value="Sign Up">
			            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
			        </div>
			        
			    }
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron hidden-sm hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-md-12" style="border-radius: 5px; background-color:rgba(0,0,0,0.6);">
					<h1 style="font-family: Futura, Trebuchet MS, Arial, sans-serif;">@Messages("welcome.header")</h1>
					<p class="lead">@formatText(Messages("welcometext"))</p>
					@if(!isLoggedIn()) {
						<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
							<span class="glyphicon glyphicon-check"></span>
							<span>@Messages("menu.register")</span>
						</button>
					}
					<div style="margin-bottom: 30px;"></div>
				</div>
			</div>
			<div style="margin-bottom: 20px;"></div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">@Messages("headlines")</h3>
						</div>
						<div class="panel-body">
						@for(n <- news) {
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="media">
										@if(!n.pictures.isEmpty()) {
											<a class="hidden-xs pull-right" href="@routes.NewsController.showNews(n.id)">
												<img alt="@n.title" width="64" height="64" class="media-object" src="@routes.NewsImageController.getImage(n.pictures.get(0).id)">
											</a>
										}
										<div class="media-body">
											<h4 class="media-heading"><a href="@routes.NewsController.showNews(n.id)"><em>@n.title</em></a></h4>
											<p>
												<strong>@formatAscentDate(n.news_date) - </strong>
												@Html(formatNews(n.entry))
												(<a href="@routes.NewsController.showNews(n.id)"><em>read more...</em></a>)
											</p>
										</div>
									</div>
								</div>
							</div>
						}
						</div>
					</div>
				</div>
		</div>
		</div>
		
	</div>
} {
	
	<script type="text/javascript">
	
		require(['jquery', 'holder'], function() {
			$(document).ready(function() {	
				var page = 0;
				var num = 5;
				
				$("#previous").on("click", clickPrevious);
				
				function clickPrevious(e) {
					var req = jsRoutes.controllers.AscentController.showRecentAscents(++page, num);
					showRecentAscents(req);
					e.preventDefault();
				}
				
				function clickNext(e) {
					var req = jsRoutes.controllers.AscentController.showRecentAscents(--page, num);
					showRecentAscents(req);
					e.preventDefault();
				}
				
		    	function showRecentAscents(req, num) {
			   		$.ajax({
						url: req.url,
						success: function(data, status, xhr) {
							setButtons(xhr);
							repopulate(data);
						}
					});
		    	}
				
		    	function setButtons(xhr) {
					if (xhr.getResponseHeader("hasNext") == 'false') {
						$("#previous").addClass("disabled");
						$("#previous").off("click");
					} else {
						if ($("#previous").hasClass("disabled")) {
							$("#previous").on("click", clickPrevious);
							$("#previous").removeClass("disabled");
						}
					}
					
					if (xhr.getResponseHeader("hasPrev") == 'false') {
						$("#next").addClass("disabled");
						$("#next").off("click");
					} else {
						if ($("#next").hasClass("disabled")) {
							$("#next").on("click", clickNext);
							$("#next").removeClass("disabled");
						}
					}
		    	}
		    	
		    	function repopulate(array) {
		    		$("#recentAscents").empty();
		   		
					$.each(array, function(i, item) {
						var userUrl = jsRoutes.controllers.UsersController.showUser(item.climber.id).url;
						var mntUrl = jsRoutes.controllers.MountainsController.showMountain(item.mountain.id).url;
						var ascentUrl = jsRoutes.controllers.AscentController.showTripReport(item.id).url;
						
						var media = $('<div class="media">');
						var mediaBody = $('<div class="media-body">');
						var imgTag = null;
						
						if (item.climber.pic) {
							imgTag = $('<img alt="' + item.climber.name + '" width="64" height="64" class="media-object">');
							imgTag.attr("src", jsRoutes.controllers.UsersController.getProfileThumbnail(item.climber.id).url);
						} else {
							imgTag = $('<span style="font-size: 64px;" class="glyphicon glyphicon-user"></span>');
						}
						
						$('<a class="hidden-xs pull-left" href="' + userUrl + '"></a>').append(imgTag).appendTo(media);
	  				  	$(mediaBody).append('<h4 class="media-heading"><strong><a href="' + userUrl + '">' + item.climber.name + '</a></strong> - <a href="' + mntUrl + '"><em>' + item.mountain.name + '</em></a></h4>');  				  
	  				  	$(mediaBody).append('<p><strong>' + item.ascent_date + ' - </strong>' + item.trip_report + ' (<a href="' + ascentUrl + '"><em>details...</em></a>)</p>');
	
	  				  	$(media).append(mediaBody).appendTo("#recentAscents");
						
					});
					
					Holder.run();
		    	}
			});
		});
    </script>
	
	
	<div class="row">
		<div class="col-md-6 hidden-xs">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">@Messages("news.nynjtc")</h3>
				</div>
				<div class="panel-body">
					<div id="externalNews"></div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			require(['jquery'], function() {
				jsRoutes.controllers.ExternalNewsController.getNewsFromNYNJTC().ajax({
		  		  success: function(data) {
		  			  $.each(data, function(i, item) {
		  				  var r = jsRoutes.controllers.ExternalNewsController.getNewsArticleFromNYNJTC(item.link);
		  				  var mediaBody = $('<div class="media-body">');
		  				  $(mediaBody).append('<h4 class="media-heading"><em><a target="_blank" href="' + item.link + '">' + item.title + '</a></em></h4>');
		  				
		  				  $('<div class="media">').append(mediaBody).appendTo('#externalNews');
		  				  
		  				  $.ajax({
		  					  url: r.url,
		  					  cache: true,
		  					  success: function(data) {
		  	    				  $(mediaBody).append('<p><strong>' + item.date + ' - </strong>' + data + ' (<a target="_blank" href="' + item.link + '"><em>read more...</em></a>)');
		  					  }
		  				  });
		  			  });
					}
				});
			});
		</script>
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">@Messages("most.recent.climbs")</h3>
				</div>
				<div id="recentAscents" class="panel-body">
				@for(a <- recentAscents) {
					<div class="media">
						<a class="pull-left hidden-xs" href="@routes.UsersController.showUser(a.climber.id)">
							@if(a.climber.pic != null) {
								<img alt="@a.climber.name" width="64" height="64" class="media-object" src="@routes.UsersController.getProfileThumbnail(a.climber.id)">
							} else {
								<span style="font-size: 64px;" class="glyphicon glyphicon-user"></span>
							}
						</a>
						<div class="media-body">
							<h4 class="media-heading"><strong><a href="@routes.UsersController.showUser(a.climber.id)">@a.climber.name</a></strong> - <a href="@routes.MountainsController.showMountain(a.mountain.id)"><em>@a.mountain.name</em></a></h4>
							<p>
								<strong>@formatAscentDate(a.ascent_date) - </strong>
								@if(a.trip_report != null && !a.trip_report.trim().isEmpty()) {
									@Html(formatText(a.trip_report.split("[\\.\\?\\!][\\r\\n\\t ]+").toList.get(0))).
								}
							(<a href="@routes.AscentController.showTripReport(a.id)"><em>details...</em></a>)
							</p>
						</div>
					</div>
				}
				</div>
				<div class="panel-footer">
					<ul class="pager" style="margin: 0;">
					  <li id="previous" class="previous"><a href="#">&larr; Older</a></li>
					  <li id="next" class="next disabled" ><a href="#">Newer &rarr;</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
}