@main(title = Messages("menu.links"))(null)(menu()) {

<div class="page-header">
	<h3>@Messages("menu.links")</h3>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Peakbagging</h3>
			</div>
			<div class="panel-body">
				<ul class="unstyled">
					<li><a target="_blank" href="http://www.catskill-3500-club.org">www.catskill-3500-club.org</a> - The Catskills 3500 Club</li>
					<li><a target="_blank" href="http://www.adk46r.org">www.adk46r.org</a> - The Adirondack 46ers Club</li>
					<li><a target="_blank" href="http://www.amc4000footer.org">www.amc4000footer.org</a> - The New Hampshire Four Thousand Footers Club</li>
					<li><a target="_blank" href="http://www.cohp.org">www.cohp.org</a> - County Highpointers Association</li>
					<li><a target="_blank" href="http://www.peakbagger.com">www.peakbagger.com</a> - An informal online resource for summit-focused hikers, climbers, and mountain lovers</li>
				</ul>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Hiking in New Jersey</h3>
			</div>
			<div class="panel-body">
				<ul class="unstyled">
					<li><a target="_blank" href="http://www.weishike.com">www.weishike.com</a> - The Weis Wyanockie Wanderers and the West Milford 13ers</li>
					<li><a target="_blank" href="http://www.danbalogh.com/hikes.html">www.danbalogh.com</a> - Perhaps New Jersey's best hiking photo blog</li>
					<li><a target="_blank" href="http://www.njhiking.com">www.njhiking.com</a> - A website dedicated to hiking in New Jersey</li>
				</ul>
			</div>
		</div>
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Outdoor Advocacy</h3>
			</div>
			<div class="panel-body">
				<ul class="unstyled">
					<li><a target="_blank" href="http://www.nynjtc.org">www.nynjtc.org</a> - The New York-New Jersey Trail Conference</li>
					<li><a target="_blank" href="http://www.highlandscoalition.org">www.highlandscoalition.org</a> - The Highlands Coalition</li>
					<li><a target="_blank" href="http://www.outdoors.org">www.outdoors.org</a> - The Appalachian Mountain Club</li>
					<li><a target="_blank" href="http://www.adk.org">www.adk.org</a> - The Adirondack Mountain Club</li>
				</ul>
			</div>
		</div>
	</div>
</div>
}