@(ascentForm: Form[AscentEntity], mountains: List[MountainEntity])

@import helper._
@import views.RenderUtil._

@head = {
	<link rel="stylesheet" href="@routes.Assets.versioned("javascripts/jQuery-File-Upload-9.7.0/css/jquery.fileupload.css")">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
}

@main()(head)(null) {
	<script type="text/javascript">
		require(['modernizr', 'jqueryui'], function() {
			$(document).ready(function() {
				
				if (!Modernizr.inputtypes.date) {
			   		$('input[type="date"]').datepicker({ dateFormat: 'yy-mm-dd' });
				}
			    
			    $('#ascentDetails').change(function() {
			    	
			    	$('#thumbnails tr').remove();
			    	$.each(this.files, function (index, file) {
		        		
		        		var tr = $('<tr><td>' + file.name + '</td><td><textarea class="form-control" name="captions[]" placeholder="Caption"/></td></tr>');
		        		var reader = new FileReader();
		        		
		        		reader.onload = function(e) {
		        			var preview = $('<img width="128"/>');
		        			
							preview.attr("src", e.target.result);
	
							var img = new Image();
							img.src = preview.attr("src");
							
							$('<td/>').append(preview).prependTo(tr);
						}
		        		
		        		reader.readAsDataURL(file);
		        		$(tr).hide().appendTo($('#thumbnails')).fadeIn(1000);
		            });
			    });
			});
		});
	</script>
	
    <div class="page-header">
		<h3>@Messages("ascent.log.new")</h3>
	</div>
    
    @helper.form(action = routes.AscentController.submit, 'enctype -> "multipart/form-data", 'id -> "ascentForm") {
          
        @if(ascentForm.hasGlobalErrors) {
			@ascentForm.globalError.message
        }
        <div class="row">    
			<div class="col-md-4">
	            @inputText(
	                ascentForm("ascent_date"),
	                '_label -> Messages("ascent.date"),
	                'class -> "form-control",
	                'type -> "date",
	                '_help -> Messages("help.ascent.date", play.api.Play.current.configuration.getString("date.format").get)
	            )
	            
	            @select(
	            	ascentForm("mountain"),
	            	mountains.map{
	            		m => m.id.toString() -> (m.name)
	            	},
	            	'_label -> Messages("ascent.summit"),
	            	'class -> "form-control"
	            )
	            
	            @select(
	            	ascentForm("successful"),
	            	options("true"->Messages("yes"), "false"->Messages("no")),
	            	'_label -> Messages("ascent.successful"),
	            	'class -> "form-control",
	            	'_help -> Messages("help.ascent.success")
	            )
	        </div>
        
	        <div class="col-md-8">
	            @textarea(
	            	ascentForm("trip_report"),
	            	'_label -> Messages("ascent.report"),
	            	'class -> "story form-control"
	            )
	            
	            <div class="actions">
		            <input type="submit" class="btn btn-primary" value="@Messages("button.submit.ascent")">
		            <a href="@routes.Application.index" class="btn btn-danger">@Messages("cancel")</a>
		        </div>
	        </div>
        </div>
		<div class="row">
		    <div class="col-md-12">
		    <div class="page-header">
				<h3>@Messages("ascent.pics")</h3>
			</div>
		    	<div class="row">
		    		<div class="col-md-12">
				    	<span class="btn btn-success fileinput-button">
				    		<i class="glyphicon glyphicon-plus"></i>
				    		<span>Select files...</span>
				    		<input id="ascentDetails" type="file" name="ascentDetails" multiple />
				    	</span>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-md-12">
						<table id="thumbnails" class="table">
				    	</table>
			    	</div>
				</div>
		    </div>
		</div>	
        @input(ascentForm("id"), 
            '_label -> null) { (id, name, value, args) =>
    		<input type="hidden" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
		}
    }
}