@(ascentForm: Form[AscentEntity], mountains: List[MountainEntity])

@import helper._
@import views.RenderUtil._

@main() {

	<script type="text/javascript">
		$(function() {
	    	$("#ascent_date").datepicker({ dateFormat: 'yy-mm-dd' });
		});
	
	</script>
    <div class="page-header">
		<h3>@Messages("ascent.log.new")</h3>
	</div>
    
    @helper.form(action = routes.AscentController.submit, 'enctype -> "multipart/form-data") {
        
        <fieldset>
          
            @if(ascentForm.hasGlobalErrors) {
				@ascentForm.globalError.message
            }
            
            @inputText(
                ascentForm("ascent_date"),
                '_label -> Messages("ascent.date"),
                'type -> "date",
                '_help -> Messages("help.ascent.date", play.api.Play.current.configuration.getString("date.format").get)
            )
            
            @select(
            	ascentForm("mountain"),
            	mountains.map{
            		m => m.id.toString() -> (m.name)
            	},
            	'_label -> Messages("ascent.summit")
            )
            
            @select(
            	ascentForm("successful"),
            	options("true"->Messages("yes"), "false"->Messages("no")),
            	'_label -> Messages("ascent.successful"),
            	'_help -> Messages("help.ascent.success")
            )
            
            @textarea(
            	ascentForm("trip_report"),
            	'_label -> Messages("ascent.report"),
            	'class -> "story"
            )
            

   			@inputFile(
   				ascentForm("ascentDetails"), 
   				'_label -> Messages("ascent.pics"),
   				'class -> "multi"
   			)

            @input(ascentForm("id"), 
            	'_label -> null) { (id, name, value, args) =>
    			<input type="hidden" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
			} 
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="@Messages("button.submit.ascent")">
            <a href="@routes.Application.index" class="btn">@Messages("cancel")</a>
        </div>
        
    }
    
}