@(signupForm: Form[UserEntity])

@import helper.twitterBootstrap._
@import helper._

@main() {
	<div class="page-header">
		<h3>@Messages("menu.login")</h3>
	</div>
    
    @helper.form(action = routes.SignInController.submit) {
        
        <fieldset>       
            @if(flash.get("success") != null) {
            	<div class="alert alert-info">@flash.get("success")</div>
            }
            
            @if(signupForm.hasGlobalErrors) {
            	<div class="alert alert-error">@signupForm.globalError.message</div>
				
            }
            
            @inputText(
                signupForm("email"), '_label -> Messages("email"), '_showConstraints -> false
            )
            
            @inputPassword(
                signupForm("password"), 
                '_label -> Messages("password")
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="@Messages("button.submit.login")">
            <a href="@routes.UsersController.resetPasswordForm" class="btn">@Messages("password.forgot")</a>
        </div>
        
    }
    
}