@(title: String = Messages("title"))(head: Html)(hero: Html)(content: Html)

@import controllers.routes.javascript._
@import play.api.Play
@import play.api.Play.current
@import views.RenderUtil._
@import utils.SecurityUtil._

<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/stickyfooter.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
	
		@head
		
		<script data-main="@routes.Assets.versioned("javascripts")/main" src="@routes.Assets.versioned("javascripts/require.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
		<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    </head>
    <body>
    	@if(flash.get("success") != null) {
			<script type="text/javascript">
				require(['jquery', 'modal'], function($) {
					$(document).ready(function() {
						$('#flash').modal('show');
					});
				});
			</script>

			<div id="flash" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<p>@flash.get("success")</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
        }
            
	    
   		@menu()
		
		@hero
		<div class="container">
        	@content
        </div>
        <div id="footer">
        	<div class="container">
		     	<div id="credits">
		     		<a href="http://www.playframework.org" target="_blank"><img height="18" width="53" alt="Built with Play! Framework" src="@routes.Assets.versioned("images/play.png")"/></a>
		     		<a id="validate" target="_blank"><img src="@routes.Assets.versioned("images/valid-xhtml10.png")" alt="Valid XHTML 1.0!" height="31" width="88" /></a>
		     	</div>
		     	@play.api.cache.Cache.getOrElse("copyright") {
		     	<p>@Messages("copyright", String.valueOf(Calendar.getInstance().get(Calendar.YEAR)))</p>
		     	}
			</div>
		</div>
	    <script type="text/javascript">
		    require(['jquery', 'dropdown', 'collapse', 'transition', 'modal'], function($) {
		        $("#validate").attr("href", "http://validator.w3.org/check?uri=" + document.URL);
		    });
	    </script>
    </body>
</html>
