@import utils.SecurityUtil._
    <ul class="nav">
    	@if(isLoggedIn()) {
    	<li><a class="brand" href="#">@Messages("welcome", getCurrentUser().name)</a></li>
    	}
    	<li><a href="@routes.Application.index()">@Messages("menu.news")</a></li>
    	@if(hasRole("admin")) {
    	<li><a href="@routes.NewsController.showForm()">@Messages("menu.news.submit")</a></li>
    	}
    	<li><a href="@routes.MountainsController.list()">@Messages("menu.list")</a></li>
    	<li><a href="@routes.UsersController.list()">@Messages("menu.members")</a></li>
    	@if(!isLoggedIn()) {
    	<li><a href="@routes.RegistrationController.showForm()">@Messages("menu.register")</a></li>
    	}
    	@if(isLoggedIn()) {
    	<li><a href="@routes.AscentController.showForm()">@Messages("menu.ascent")</a></li>
    	}
		<li><a href="@routes.Application.contact()">@Messages("menu.contact")</a></li>
    	<li><a href="@routes.Application.about()">@Messages("menu.about")</a></li>
    	<li><a href="@routes.Application.links()">@Messages("menu.links")</a></li>
    </ul>
   	<div class="pull-right">
    	@if(isLoggedIn()) {
    	<div class="dropdown">
    		<ul class="dropdown-menu">
    			<li><a class="btn" href="@routes.AccountController.editAccount()">@Messages("menu.edit.account")</a></li>
    			<li><a class="btn" href="@routes.SignInController.logout()">@Messages("menu.logout")</a></li>
    		</ul>
    	</div>
    	} else {
    		<a class="btn" href="@routes.SignInController.showForm()">@Messages("menu.login")</a>
    	}
    </div>
    