@(mountains: List[MountainEntity])

@head = {
<meta name="description" content="NJ1K.org - List of New Jersey's mountains over 1,000 feet.">
}

@main(title = Messages("menu.list"))(head)(menu()) {
    <script type="text/javascript">
	    require(['jquery', 'tablesorter'], function() {
			$(document).ready(function() { 
				$("#mountainList").tablesorter({
					sortList: [[0,0], [1,0], [2,0]],
					headers: { 
			            3: { 
			                sorter: false 
			            },
			            4: { 
			                sorter: false 
			            },
			            5: { 
			                sorter: false 
			            }
					}
				}); 
			});
	    });
	</script>
	
	<div class="page-header">
		<h3>@Messages("menu.list")</h3>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
				    <table id="mountainList" class="table">
				    	<thead>
				    		<tr>
					    		<th>Name</th>
					    		<th class="hidden-xs">Elevation</th>
					    		<th class="hidden-xs">County</th>
					    		<th class="hidden-xs">Latitude</th>
					    		<th class="hidden-xs">Longitude</th>
					    		<th class="hidden-xs">Topo Map</th>
					    	</tr>
				    	</thead>
				        <tbody>
				        @for(mountain <- mountains) {
				            <tr itemscope itemtype="https://schema.org/Mountain">
				            	<td><a itemprop="url" href="@routes.MountainsController.mountain(mountain.getNameId())"><span itemprop="name">@mountain.name</span></a></td>
				               	<td class="hidden-xs">@mountain.elevation</td>
				               	<td itemprop="containedIn" class="hidden-xs">@mountain.county</td>
				               	<td class="hidden-xs">@mountain.latitude</td>
				               	<td class="hidden-xs">@mountain.longitude</td>
				               	<td class="hidden-xs tableCell"><a itemprop="hasMap" href="http://mapper.acme.com/?t=T&amp;z=15&amp;ll=@mountain.latitude,@mountain.longitude" target="_blank">Acme Mapper</a></td>
				            </tr>
				        }
				        </tbody>
				    </table>
		    	</div>
		    </div>
		</div>
    </div>
}


  
    
    
  