@(mountain: MountainEntity, ascents: List[AscentEntity], nhn: MountainEntity, ascentImages: List[AscentDetailEntity])
@import java.text.SimpleDateFormat

@main() {
	<script type="text/javascript">
		$(document).ready(function() {
		  $('#climbs').tableNav({
			    itemsPerPage: 10
		  });
		  
		  $('#mountain_pic').click(function() {
			  window.open('@routes.MountainsController.getImagePopup(mountain.id)', '@mountain.name', 'width=1024, height=800px');
			  return false;
		  });
		  
	    	$('.ascent_img').click(function(e) {
	    		
				window.open("/ascentDetail/" + this.id + "/mountains", '@mountain.name', 'width=1024, height=800px');
				return false;
			});
		});
	</script>

	<div class="page-header">
		<h3>@mountain.name</h3>
    </div>
    <div class="row-fluid">
    
    	<div class="span4">
    		<h4>@Messages("mountain.stats")</h4>
			<table id="mountain_info" class="table">
				<tr>
					<td>@Messages("mountain.elevation")</td>
					<td>@mountain.elevation</td>
				</tr>
				<tr>
					<td>@Messages("mountain.decimal_degrees")</td>
					<td>@mountain.latitude, @mountain.longitude</td>
				</tr>
				<tr>
					<td>@Messages("mountain.county")</td>
					<td>@mountain.county</td>
				</tr>		
				<tr>	
					<td>@Messages("mountain.ownership")</td>
					<td>@mountain.ownership</td>
				</tr>
				<tr>	
					<td>@Messages("mountain.owner")</td>
					<td>@mountain.owner</td>
				</tr>
				<tr>
					<td>@Messages("mountain.topo")</td>
					<td><a href="http://mapper.acme.com/?t=T&z=15&ll=@mountain.latitude,@mountain.longitude" target="_blank">Acme Mapper</a></td>
				</tr>
				<tr>
					<td>@Messages("mountain.nhn")</td>
					<td><a href="@routes.MountainsController.showMountain(nhn.id)">@nhn.name</a></td>
				</tr>
			</table>
			
			<p><a class="btn" href="@routes.MountainsController.showRadius(mountain.id)">@Messages("radius.search")</a></p>
		</div>
	
	    <div id="mountain_description" class="span8">
	    	<h4>@Messages("about")</h4>
	    	@if(mountain.picture != null) {
	    		<a id="mountain_pic" href="#"><img class="pull-left img-rounded" height="200" width="200" style="margin: 0 10px 10px 0;" src="@routes.MountainsController.getImage(mountain.id)"></a>
	    	}
	    	@Html(mountain.description)
	    </div>

	</div>
	
	<h4>@Messages("mountain.others", mountain.name)</h4>
	
	<div class="row-fluid">
		<div class="span4">
			<table id="climbs" class="table table-striped">
			@for(a <- ascents) {
				<tr>
					<td><a href="@routes.AscentController.showTripReport(a.id)">@views.RenderUtil.formatAscentDate(a.ascent_date)</a></td>
					<td><a href="@routes.UsersController.showUser(a.climber.id)">@a.climber.name</a></td>
				</tr>
			}
			</table>
			<div class="pagination"></div>
		</div>
	</div>
	
	<div class="row-fluid">
		<h4>@Messages("mountain.pictures.from", mountain.name)</h4>
		<div class=span12>
		@for(detail <- ascentImages) {
			<div class="img_container" style="position: relative; display: inline-block; height: 200px;">
				<a id="@detail.id" class="ascent_img" href="#"><img class="img-rounded" alt="@detail.caption" height="200" width="200" src="@routes.AscentDetailController.getImage(detail.id)"></a>
			</div>
		}
	    </div>
	</div>
}