@(mountain: MountainEntity, ascents: List[AscentEntity], nhn: MountainEntity, ascentImages: List[AscentDetailEntity])
@import views.RenderUtil._

@head = {
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css">
}

@main(title = mountain.name)(head)(null) {

<div itemscope itemtype="https://schema.org/Mountain">
	<div class="page-header">
		<h3 itemprop="name">@mountain.name</h3>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<h2 class="panel-title">@Messages("about") @mountain.name</h2>
	    		</div>
		    	<div class="panel-body">
		    		<div class="col-md-8">
				    	@if(mountain.picture != null) {
					    	<a itemprop="photo" class="pull-left thumbnail fancybox" style="margin-right: 20px;" data-fancybox-type="image" title="@mountain.name" href="@routes.MountainsController.getImage(mountain.id)">
					    		<img alt="@mountain.name" src="@routes.MountainsController.getThumbnail(mountain.id)" />
					    	</a>
		    			}
		    			<div itemprop="description">
		    				<p>@Html(mountain.description.replace("\n", "<br/>"))</p>
		    			</div>
	    			</div>
	    			<div class="col-md-4">
		    			<table id="mountain_info" class="table">
							<tr>
								<td>@Messages("mountain.elevation")</td>
								<td>@mountain.elevation</td>
							</tr>
							<tr>
								<td>@Messages("mountain.decimal_degrees")</td>
								<td itemprop="geo">@mountain.latitude, @mountain.longitude</td>
							</tr>
							<tr>
								<td>@Messages("mountain.county")</td>
								<td itemprop="containedIn">@mountain.county</td>
							</tr>		
							<tr>	
								<td>@Messages("mountain.ownership")</td>
								<td>@mountain.ownership</td>
							</tr>
							<tr>	
								<td>@Messages("mountain.owner")</td>
								<td>@mountain.owner</td>
							</tr>
							<tr>
								<td>@Messages("mountain.topo")</td>
								<td><a itemprop="map" href="http://mapper.acme.com/?t=T&amp;z=15&amp;ll=@mountain.latitude,@mountain.longitude" target="_blank">Acme Mapper</a></td>
							</tr>
							
							@if(mountain.summit_view_url != null) {
							<tr>
								<td>@Messages("mountain.summitview")</td>
								<td><a href="@mountain.summit_view_url" target="_blank">Google Maps</a></td>
							</tr>
							}
							@if(nhn != null) {
							<tr>
								<td>@Messages("mountain.nhn")</td>
								<td><a href="@routes.MountainsController.mountain(nhn.getNameId())">@nhn.name</a></td>
							</tr>
							}
						</table>
						
						<p>
							<a class="btn btn-default" href="@routes.MountainsController.showDistances(mountain.id)">
								<i class="glyphicon glyphicon-globe"></i>
								<span>@Messages("radius.search")</span>
							</a>
						</p>
			    	</div>
		    	</div>
	    	</div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>@Messages("ascent.climb.list")</h3>
			<div id="infiniteScroll">
			@mountainAscentsPanel(mountain.id, ascents, 0, 10)
			</div>

			<a title="Scroll to top" class="scrollToTop">
				<span style="font-size: 32px;" class="glyphicon glyphicon-arrow-up"></span>
			</a>
		</div>
	</div>
	@if(!ascentImages.isEmpty()) {
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">@Messages("mountain.pictures.from", mountain.name)</h2>
				</div>
				<div id="images" class="panel-body">
				@ascentImagePanel(mountain.id, ascentImages, 1, 4)
				</div>
			</div>
		</div>
		}
	</div>
	
	<script type="text/javascript">
		require(['jquery', 'fancybox', 'holder', 'jscroll'], function() {
			$(".fancybox").fancybox();
			
			$('#images').jscroll({
				callback: function() {
					$('.jscroll-loading').remove();
				},
				loadingHtml: '<div class="clearfix"></div><div class="text-center"><div class="center-block"><img width="32" src="@routes.Assets.versioned("images/spinner.gif")"/></div></div>'
			});
		});
	</script>
	
	<script type="text/javascript">
		require(['scrollToTop'], function() {
			$('.scrollToTop').scrollify();
		});
	</script>
</div>
}