@(mountain: MountainEntity)
<html>
	<head>
		<script src="https:////code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/libs/galleria-1.2.7.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/galleria/themes/classic/galleria.classic.css")">
	
		<script type="text/javascript">
			$(document).ready(function() {
				Galleria.loadTheme('@routes.Assets.at("javascripts/galleria/themes/classic/galleria.classic.min.js")');
				Galleria.run('#galleria', {
					_toggleInfo: true
				});
			})
		</script>
	</head>
	
	<body>
		<div id="galleria" style="height: 768px">
			<img alt="@mountain.name" src="@routes.MountainsController.getImage(mountain.id)">
		</div>
	</body>
</html>