@(news: NewsEntity)

@import utils.SecurityUtil._
@import views.RenderUtil._

@hero = {}
@main(title = news.title)(hero) {
	<script type="text/javascript">
		$(document).ready(function() {
			$('.news_img').click(function(e) {
				window.open("/news/images/" + this.id + "/show", '@news.title', 'width=1024, height=800px');
				return false;
			});
			
			$('#delete_news').click(function() {
	    		if (confirm('@Messages("news.delete.prompt")')) {
		    		jsRoutes.controllers.NewsController.delete(@news.id).ajax({
		    			success: function(result) {
		    				window.location.href = "@routes.Application.index()";
		    		    }
		    		});
	    		}
	    		return false;
	    	});
		});
	</script>
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
			    <div class="panel-heading">
					<h3 class="panel-title">@news.title</h3>
				</div>
		
				<div class="panel-body">
				@if(hasRole("admin")) {
					<p><strong><a class="btn btn-small" href="@routes.NewsController.editForm(news.id)">@Messages("news.edit")</a></strong></p>
					<p><strong><a id="delete_news" class="btn btn-small" href="@routes.NewsController.delete(news.id)">@Messages("news.delete")</a></strong></p>
				}
			   		
				<p>
				@for(img<- news.pictures) {
					<a class="news_img" id="@img.id" href="#"><img class="pull-right img-thumbnail" width="200" height="200" style="margin: 10px 0px 10px 0;" src="@routes.NewsImageController.getImage(img.id)"></a>
				}
				@Html(formatText(news.entry))</p>
				</div>
			</div>
		</div>
	</div>
}