@(news: NewsEntity)

@import utils.SecurityUtil._
@import views.RenderUtil._

@main(title = news.title)(null)(null) {

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen" />
	
	<script type="text/javascript">
	require(['jquery', 'fancybox'], function() {
		$(document).ready(function() {
			$(".fancybox").fancybox();
			
			$('#delete_news').click(function() {
	    		if (confirm('@Messages("news.delete.prompt")')) {
		    		jsRoutes.controllers.NewsController.delete(@news.id).ajax({
		    			success: function(result) {
		    				window.location.href = "@routes.Application.index()";
		    		    }
		    		});
	    		}
	    		return false;
	    	});
		});
	});
	</script>
	
	<div id="modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">@news.title</h4>
				</div>
				<div class="modal-body">
					<img id="modalImg" class="img-responsive" style="margin-right: auto; margin-left: auto;" src="#">
				</div>
			</div>
		</div>
	</div>
					
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
			    <div class="panel-heading">
					<h3 class="panel-title">@news.title</h3>
				</div>
		
				<div class="panel-body">
				@if(hasRole("admin")) {
					<p><strong><a class="btn btn-small" href="@routes.NewsController.editForm(news.id)">@Messages("news.edit")</a></strong></p>
					<p><strong><a id="delete_news" class="btn btn-small" href="@routes.NewsController.delete(news.id)">@Messages("news.delete")</a></strong></p>
				}
			   		
				
				@for(img<- news.pictures) {
					<div class="pull-right col-xs-6 col-md-3">
						<a data-fancybox-type="image" title="@img.caption" href="@routes.NewsImageController.getImage(img.id)" class="fancybox thumbnail">
							<img class="img-responsive" alt="@img.caption" src="@routes.NewsImageController.getImage(img.id)">
						</a>
					</div>
				}
				
				<p>@Html(formatText(news.entry))</p>
				</div>
			</div>
		</div>
	</div>
}