@(mountain: MountainEntity)
@import java.text.SimpleDateFormat

@hero = {}
@main()(hero) {

    <script type="text/javascript" src="/routes.js"></script>
    <script src="@routes.Assets.at("javascripts/models/Mountain.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/models/MountainDistanceModel.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/views/MountainDistanceView.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/views/MapView.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/collections/MountainDistanceModelCollection.js")" type="text/javascript"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
		  $('#climbs').tableNav({
			    itemsPerPage: 10
		  });
		});

		$(function() {
			
			var AppView = Backbone.View.extend({
				el: '#radiusSearch',
				mapView: null,
			
				initialize: function() {
					this.mapView = new MapView({model: new Mountain({
						id: @mountain.id,
						name: '@mountain.name',
						latitude: @mountain.latitude,
						longitude: @mountain.longitude
					})}),
					this.distances = new MountainDistanceModelCollection();
					this.distances.collectionId = @mountain.id;
					this.distances.bind('add', this.addOne, this);
					this.distances.fetch({add: true});
				},
				
				addOne: function(m) {
					var mountainDistanceView = new MountainDistanceView({model: m});
					this.$el.append(mountainDistanceView.render().$el);
					this.mapView.addPoint(m.get("m2"));
				}
			});
			
			var App = new AppView();
		});
	</script>
	<div class="page-header">
		<h3>@Messages("radius.title", mountain.name)</h3>
    </div>

	<table id="radiusSearch" class="table">
	</table>
	
	<div id="map_canvas"></div>
}