@(recentAscents: Map[Date, Map[UserEntity, List[AscentEntity]]], page: Integer, size: Integer)

@import views.RenderUtil._
@import utils.TextUtils._

@getAscents(ascents: List[AscentEntity]) = @{
	val a = ascents.map{a =>
		"<a href=\"" + routes.MountainsController.mountain(a.mountain.getNameId()) + "\"><em>" + a.mountain.name + "</em></a><a href=\"" + routes.AscentController.ascent(a.id) + "\"></a>"
	}.mkString(", ");
	
	val index = a.lastIndexOf(",");
	
	if (index > 0) {
		a.substring(0, index) + " and" + a.substring(index + 1, a.length());
	} else {
		a
	}
}

@for((date, userAscents) <- recentAscents) {
	@for((climber, ascents) <- userAscents) {
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="media">
				<a class="pull-left" href="@routes.UsersController.user(climber.id)">
				@if(climber.pic != null) {
					<div class="img-rounded media-object" style="background:url(@routes.UsersController.userThumbnail(climber.id)) no-repeat center center; background-size: cover; width: 64px; height: 64px;"></div>
				} else {
					<span style="font-size: 64px;" class="glyphicon glyphicon-user"></span>
				}
				</a>
				<div class="media-body">
					<h4 class="media-heading"><strong><a href="@routes.UsersController.user(climber.id)">@climber.name</a></strong> climbed @Html(getAscents(ascents)) on @formatRenderDate(date)</h4>
					<div class="hidden-xs" style="border-bottom: 1px solid #eee"></div>
					@for(a <- ascents) {
						<div class="hidden-xs" style="margin-top: 20px;">
							@if(a.trip_report != null && !a.trip_report.trim().isEmpty()) {
								<p><strong>@a.mountain.name</strong></p>
								<p>@Html(convertUrlToHyperlink(formatText(a.trip_report)))</p>
							}
							
							@if(!a.ascentDetails.isEmpty()) {
								<div class="row">
									@for(i <- 0 until a.ascentDetails.size) {
										@if(i % 3 == 0) {
											<div class="clearfix"></div>
										}
										<div class="col-md-4 col-sm-4">
											<div class="hidden-xs thumbnail">
												<a class="fancybox" data-fancybox-group="ascentImages@a.id" data-fancybox-type="image" title="@a.ascentDetails(i).caption" href="@routes.AscentDetailController.getImage(a.ascentDetails(i).id)">
													<img class="img-responsive" alt="@a.ascentDetails(i).caption" src="@routes.AscentDetailController.getThumbnail(a.ascentDetails(i).id)">
												</a>
											</div>							
										</div>
									}
								</div>
							}
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	}
}
<div class="col-md-8 col-md-offset-2">
<a class="btn btn-default btn-block" href="@routes.AscentController.ascents(page + 1, size)">Show more recent ascents</a>
</div>

<script type="text/javascript">

	require(['tooltip'], function() {
		$('.trip-report-link').tooltip();
	});
	
	require(['jscroll'], function() {
		$('#infiniteScroll').jscroll({
			callback: function() {
				$('.jscroll-loading').remove();
			},
			loadingHtml: '<div class="clearfix"></div><div class="text-center"><div class="center-block"><img width="32" src="@routes.Assets.versioned("images/spinner.gif")"/></div></div>'
		});
	});
	
	require(['fancybox'], function() {
		$(".fancybox").fancybox();
	});
</script>