@(signupForm: Form[RegisteringUser])

@import helper._

@main() {
    
    @helper.form(action = routes.RegistrationController.submit) {
        
        <fieldset>
            <legend>Registration</legend>
            
            @if(signupForm.hasGlobalErrors) {
            	<div class="alert alert-error">@signupForm.globalError.message</div>
            }
            
            @inputText(
                signupForm("email"), 
                '_label -> Messages("email"),
                'type -> "email",
                '_showConstraints -> false
            )
            @inputText(
                signupForm("name"), 
                '_label -> Messages("name"),
                '_showConstraints -> false
            )
            @inputPassword(
                signupForm("password"), 
                '_label -> Messages("password"),
                '_showConstraints -> false
            )
            
            @inputPassword(
                signupForm("confirmPassword"), 
                '_label -> Messages("confirmpassword"),
                '_showConstraints -> false
            )
            
            @inputText(
           		signupForm("challenge"),
           		'_label -> Messages("email.antispam"),
           		'_showConstraints -> false,
           		'class -> "story_title"
        )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Sign Up">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}