@(userForm: Form[UserEntity])

@import helper._

@main() {
    <div class="page-header">
		<h3>@Messages("Reset Password")</h3>
	</div>
    @helper.form(action = routes.UsersController.resetPassword) {
        
        <fieldset>
          
            @if(userForm.hasGlobalErrors) {
				@userForm.globalError.message
            }
            
            @inputText(
                userForm("email"), '_label -> Messages("email"), '_showConstraints -> false
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="@Messages("password.reset")">
            <a href="@routes.SignInController.showForm" class="btn">@Messages("cancel")</a>
        </div>
        
    }
    
}