@(userForm: Form[UserEntity])

@import helper._

@main()(null) {
<div id="top_wrapper">
	@menu()
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>@Messages("Reset Password")</h1>
				</div>
			</div>
		</div>
	</div>
</div>
} {
    @helper.form(action = routes.ResetPasswordController.sendConfirmResetPasswordEmail) {
        
        <div class="row">
	        <div class="col-md-4">
		        <fieldset>
		          
		            @if(userForm.hasGlobalErrors) {
						@userForm.globalError.message
		            }
		            
		            @inputText(
		                userForm("email"), 
		                '_label -> Messages("email"), 
		                '_showConstraints -> false,
		                'class -> "form-control",
		                'type -> "email"
		            )
		            
		        </fieldset>
	        </div>
        </div>
        
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="@Messages("password.reset")">
            <a href="@routes.SignInController.showForm" class="btn btn-danger">@Messages("cancel")</a>
        </div>
        
    }
    
}