@(finishers: List[FinisherEntity], users: List[UserEntityAggregate])

@import java.text.SimpleDateFormat

@main() {

	<script type="text/javascript">
		$(document).ready(function() { 
			$("#climbList").tablesorter( {sortList: [[0,0]]} );
			$("#finisherList").tablesorter( {sortList: [[1,0]]} ); 
		}); 
	</script>
    
	<div class="page-header">
		<h3>@Messages("users.finishers")</h3>
	</div>
	
    <table id="finisherList" class="table table-striped tablesorter">
	    <thead>
	    	<tr>
		    	<th>Climber</th>
		    	<th>Date of Finish</th>
		    	<th>Finished On</th>
	    	</tr>
	    </thead>
	    <tbody>
	    @for(f <- finishers) {
	        <tr>
		        <td><a href="@routes.UsersController.showUser(f.user.id)">@f.user.name</a></td>
		        <td>@{new SimpleDateFormat("MM/dd/yyyy").format(f.final_ascent.ascent_date)}</td>
		        <td><a href="@routes.AscentController.showTripReport(f.final_ascent.id)">@f.final_ascent.mountain.name</a>
	        </tr>
	    }
	    </tbody>
    </table>
    
    <div class="page-header">
		<h3>@Messages("users.aspirants")</h3>
    </div>
    
    <table id="climbList" class="table table-striped tablesorter">
        <thead>
        	<tr>
	    		<th>Climber</th>
	    		<th>Total climbs</th>
	    		<th>Total unique ascents</th>
	    		<th>Most recent climb</th>
    		</tr>
    	</thead>
    	<tbody>
        @for(user <- users) {
        	<tr>
	        	<td><a href="@routes.UsersController.showUser(user.user.id)">@user.user.name</a></td>
	        	<td>@user.total</td>
	        	<td>@user.unique_successful</td>
	        	<td><a href="@routes.AscentController.showTripReport(user.most_recent.id)">@user.most_recent.mountain.name</a></td>
        	</tr>
        }
        </tbody>
    </table>
}