@(userId: Long, ascents: List[AscentEntity], page: Integer, size: Integer)

@import views.RenderUtil._

<div class="panel-body">
	@for(a <- ascents) {
		<div class="media">
			<a class="pull-left" href="@routes.MountainsController.mountain(a.mountain.getNameId())">
				@if(a.mountain.picture != null) {
					<img alt="@a.mountain.name" width="64" height="64" class="media-object" src="@routes.MountainsController.getThumbnail(a.mountain.id)">
				} else {
					<span style="font-size: 64px;" class="glyphicon glyphicon-picture"></span>
				}
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					<strong><a href="@routes.MountainsController.mountain(a.mountain.getNameId())">@a.mountain.name</a></strong>
				</h4>
				<p>
					<strong>@formatAscentDate(a.ascent_date) - </strong>
					@if(a.trip_report != null && !a.trip_report.trim().isEmpty()) {
						@Html(convertUrlToHyperlink(formatNews(a.trip_report)))
					}
					(<a href="@routes.AscentController.ascent(a.id)"><em>details...</em></a>)
				</p>
			</div>
		</div>
	}
</div>
<div class="panel-footer">
	<a href="@routes.UsersController.userAscents(userId, page, size)">more <span class="glyphicon glyphicon-chevron-down"></span></a>
</div>

<script type="text/javascript">
	require(['jscroll'], function() {
		
		$('#infiniteScroll').jscroll({
			callback: function() {
				$('.jscroll-loading').remove();
			},
			loadingHtml: '<div class="clearfix"></div><div class="text-center"><div class="center-block"><img width="32" src="@routes.Assets.at("images/spinner.gif")"/></div></div>'
		});
	});
</script>