@(finishers: List[FinisherEntity], users: List[UserEntityAggregate])

@import views.RenderUtil._

@head = {
<meta name="description" content="NJ1K.org - List of finishers and aspiring members of the NJ1K Club.">
}

@main(Messages("menu.members"))(head)(menu()) {

	<script type="text/javascript">
		require(['jquery', 'tablesorter'], function() {
			$(document).ready(function() { 
				$("#climbList").tablesorter( {sortList: [[0,0]]} );
				$("#finisherList").tablesorter( {sortList: [[1,0]]} ); 
			}); 
		});
	</script>
    
	<div class="page-header">
		<h3>@Messages("users.finishers")</h3>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-body">
		    <table id="finisherList" class="table tablesorter">
			    <thead>
			    	<tr>
				    	<th>Climber</th>
				    	<th>Date of Finish</th>
				    	<th class="hidden-xs">Finished On</th>
			    	</tr>
			    </thead>
			    <tbody>
			    @for(f <- finishers) {
			        <tr itemscope itemtype="https://schema.org/Person">
				        <td><a itemprop="url" href="@routes.UsersController.user(f.user.id)"><span itemprop="name">@f.user.name</span></a></td>
				        <td>@formatRenderDate(f.final_ascent.ascent_date)</td>
				        <td class="hidden-xs"><a href="@routes.AscentController.ascent(f.final_ascent.id)">@f.final_ascent.mountain.name</a>
			        </tr>
			    }
			    </tbody>
		    </table>
		</div>
	</div>
    
    <div class="page-header">
		<h3>@Messages("users.aspirants")</h3>
    </div>

	<div class="panel panel-default">
		<div class="panel-body">
			<table id="climbList" class="table tablesorter">
				<thead>
					<tr>
						<th>Climber</th>
						<th class="hidden-xs">Total climbs</th>
						<th class="hidden-xs">Total unique ascents</th>
						<th class="hidden-xs">Most recent climb</th>
					</tr>
				</thead>
				<tbody>
	
					@for(user <- users) {
					<tr itemscope itemtype="https://schema.org/Person">
						<td><a itemprop="url" href="@routes.UsersController.user(user.user.id)"><span itemprop="name">@user.user.name</span></a></td>
						<td class="hidden-xs">@user.total</td>
						<td class="hidden-xs">@user.unique_successful</td>
						@if(user.most_recent != null) {
						<td class="hidden-xs"><a href="@routes.AscentController.ascent(user.most_recent.id)">@user.most_recent.mountain.name</a></td>
						} else {
						<td class="hidden-xs">-</td>
						}
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}