@(userId: Long, ascentMap: Map[Date, List[AscentEntity]], page: Integer, size: Integer)

@import views.RenderUtil._
@import utils.SecurityUtil._

@getAscentsWithoutUrls(ascents: List[AscentEntity]) = @{
	val a = ascents.map{a =>
		"<em>" + a.mountain.name + "</em>"
	}.mkString(", ");
	
	val index = a.lastIndexOf(",");
	
	if (index > 0) {
		a.substring(0, index) + " and" + a.substring(index + 1, a.length());
	} else {
		a
	}
}

@for((date, ascents) <- ascentMap) {
	<a class="visible-xs" href="@routes.UsersController.userAscentsByDate(userId, date.getTime())">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
					<div class="media-body">
						<div style="width: 100%; display: table;">
	    					<div style="display: table-row">
	        					<div style="display: table-cell;">
									@Html(getAscentsWithoutUrls(ascents)) on @formatRenderDate(date)
								</div>
								<div style="display: table-cell; vertical-align: middle;">
									<span class="pull-right glyphicon glyphicon-chevron-right"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
	<div class="hidden-xs panel panel-default">
		<div class="panel-body">
		@if(isUser(userId) || hasRole("admin")) {
		<div class="btn-group pull-right">
			
			<button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				@for(a <- ascents) {
					<li><a href="@routes.AscentController.editForm(a.id)">Edit ascent @a.mountain.name</a></li>
				}
				<li class="divider"></li>
				<li><a href="#" class="delete_ascents" data-userid="@userId" data-date="@date.getTime()" >Delete ascents on @formatRenderDate(date)</a>
			</ul>
		</div>
		}
		<h4 class="media-heading">@formatRenderDate(date)</h4>
			<div class="clearfix" style="border-bottom: 1px solid #eee"></div>
			@for(a <- ascents) {
				<div class="media">
					<a class="pull-left" href="@routes.MountainsController.mountain(a.mountain.getNameId())">
					
					@if(a.mountain.picture != null) {
						<div class="img-rounded media-object" style="background:url(@routes.MountainsController.getThumbnail(a.mountain.id)) no-repeat center center; background-size: cover; width: 64px; height: 64px;"></div>
					} else {
						<span style="font-size: 64px;" class="glyphicon glyphicon-picture"></span>
					}
					</a>
					<div class="media-body">
						<h5 class="media-heading">
							<strong><a href="@routes.MountainsController.mountain(a.mountain.getNameId())">@a.mountain.name</a></strong>
						</h5>
						@if(a.trip_report != null && !a.trip_report.trim().isEmpty() || !a.ascentDetails.isEmpty()) {
							<div>
								<p>@Html(convertUrlToHyperlink(formatText(a.trip_report)))</p>
							
							</div>
							@if(!a.ascentDetails.isEmpty()) {
								<div class="row">
									@for(i <- 0 until a.ascentDetails.size) {
										@if(i % 4 == 0) {
											<div class="clearfix"></div>
										}
										<div class="col-md-3 col-sm-6">
											<div class="thumbnail">
<!-- 												<a href="#" class="delete-ascent-detail" data-image-id="@a.ascentDetails(i).id"><span style="position: absolute; top: 6px; right: 20px; "class="glyphicon glyphicon-remove"></span></a> -->
												<a class="fancybox" data-fancybox-group="ascentImages@a.id" data-fancybox-type="image" title="@a.ascentDetails(i).caption" href="@routes.AscentDetailController.getImage(a.ascentDetails(i).id)">
													<img class="img-responsive" alt="@a.ascentDetails(i).caption" src="@routes.AscentDetailController.getThumbnail(a.ascentDetails(i).id)">
												</a>
											</div>							
										</div>
									}
								</div>
							}
						}
					</div>
				</div>
			}	
		</div>
	</div>
}
<div class="panel-footer">
	<a href="@routes.UsersController.userAscents(userId, page + 1, size)">more <span class="glyphicon glyphicon-chevron-down"></span></a>
</div>

<script type="text/javascript">
	require(['jquery', 'routes'], function() {
		$('.delete_ascents').click(function() {
    		if (confirm('@Messages("ascent.delete.prompt")')) {
    			var userId = $(this).data("userid");
    			var date = $(this).data("date");
    			var that = $(this);
    			
	    		jsRoutes.controllers.AscentController.removeByUserAndDate(userId, date).ajax({
	    			success: function(result) {
	    				$(that).parents('.panel').fadeOut(function() {
	    					$(this).remove();
	    				});
	    		    }
	    		});
    		}
    		return false;
    	});
		
    	$('.delete-ascent-detail').click(function(e) {
    		var id = $(this).data('image-id');
    		var that = this;
    		jsRoutes.controllers.AscentDetailController.remove(id).ajax({
    			success: function(result) {
    		    	$(that).closest('.thumbnail').parent().fadeOut(function() {
    		    		$(this).remove();
    		    	});
    		    }
    		});
    		
    		e.preventDefault();
    	});
	});
	require(['jscroll'], function() {
		
		$('#infiniteScroll').jscroll({
			callback: function() {
				$('.jscroll-loading').remove();
			},
			loadingHtml: '<div class="clearfix"></div><div class="text-center"><div class="center-block" style="padding-bottom: 10px;"><img width="32" src="@routes.Assets.versioned("images/spinner.gif")"/></div></div>'
		});
	});
</script>