@(user: UserEntityAggregate, ascents: List[AscentEntity])
@import java.text.SimpleDateFormat
@import views.RenderUtil._

@head = {
	<meta name="description" content="NJ1K.org - Profile for @user.user.name. @user.user.name has climbed @user.unique_successful peaks.">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen" />
}

@main(title = user.user.name)(head)(null) {

    <div itemscope itemtype="https://schema.org/Person">
	    <div class="page-header">
		   	<h3 itemprop="name">@user.user.name</h3>
	   	</div>
	    
	    <div class="row">
	    	@if(user.user.aboutme != null || user.user.pic != null) {
		    	<div class="col-md-12">
		    		<div class="panel panel-default">
					
					    <div class="panel-heading">
					    	<h3 class="panel-title">About</h3>
					    </div>
					    <div class="panel-body">
					    	<div class="col-md-8">
							    @if(user.user.pic != null) {
							   		<a itemprop="image" href="@routes.UsersController.userImage(user.user.id)" class="thumbnail pull-left fancybox" style="margin-right: 20px;" title="@user.user.name" data-fancybox-type="image">
							   			<img alt="@user.user.name" src="@routes.UsersController.userThumbnail(user.user.id)">
							   		</a>
								}
							
						    	<div itemprop="description">
						    	@Html(formatText(user.user.aboutme))
						   		</div>
						   	</div>
						   	<div class="col-md-4">
								<table class="table table-bordered table-condensed">
							    	<tr><td><small>@Messages("user.totalclimbs")</small></td><td><small>@user.total</small></td></tr>
							    	<tr><td><small>@Messages("user.uniquesuccess")</small></td><td><small>@user.unique_successful</small></td></tr>
							    	<tr><td><small>@Messages("user.percentcomplete")</small></td><td><small>@formatPercent(user.percentComplete)</small></td></tr>
							    </table>
							    <div style="text-align: center; padding-left: auto; padding-right: auto;">
							    	<canvas id="statsChart" width="150" height="150"></canvas>
							    </div>
							    <div id="leg"></div>
						    </div>
					   	</div>
					</div>
				</div>
			}
		    
		</div>
		@if(!ascents.isEmpty()) {
		<div class="row">
			<div class="col-md-12">
			    <div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">@Messages("ascent.climb.list")</h3>
					</div>
					<div id="infiniteScroll">
					@userAscentPanel(user.user.id, ascents, 1, 5)
					</div>
				</div>
			</div>
		</div>
		}
	</div>
	
	<script type="text/javascript">
	    require(['jquery', 'fancybox', 'chart'], function() {
	    	var page = 0;
	    	var num = 10;
	    	    		
    		$(".fancybox").fancybox();
    		
    		var data = [{
                value: @user.unique_successful,
                color: "#3A783A",
                label: '@Messages("user.uniquesuccess")'
            },
            {
                value: @user.peaksRemaining,
                color: "#964949",
                label: '@Messages("user.peaksremaining")'
            }];
    		
    		var config = {animationSteps: 120, animationEasing: "easeOutQuart"};
    		
    		console.log(data);
    		var ctx = $("#statsChart").get(0).getContext("2d");
    		var statsChart = new Chart(ctx).Pie(data, config);
    		
    		$("#leg").append(statsChart.generateLegend());
    		$("#stats").append(statsChart.generateLegend());
	    });
    </script>
}